In [2]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('db.sqlite')

tables = ["ANNOUNCEMENT", "COURSE", "DEPARTMENT", "STUDY_GROUP",
          "INSTRUCTOR", "JOIN_GROUP", "MEET", "OFFER_COURSE", "TAKE_COURSE", "IS_FRIEND_OF", "USER"]


for table in tables:
    print("Converting:", table)
    df = pd.read_csv(f"{table}.csv",)
    if table == "STUDY_GROUP" or table == "COURSE" or table == "OFFER_COURSE" or table == "JOIN_GROUP":
        pass
        del df[df.columns[0]]
    df.to_sql(table, conn, if_exists='replace', index=False)

Converting: ANNOUNCEMENT
Converting: COURSE
Converting: DEPARTMENT
Converting: STUDY_GROUP
Converting: INSTRUCTOR
Converting: JOIN_GROUP
Converting: MEET
Converting: OFFER_COURSE
Converting: TAKE_COURSE
Converting: IS_FRIEND_OF
Converting: USER